body{
  background-image: url(../images/linepaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container{
	display: block;
	width: 600px;
  max-height:800px;
	margin: 250px auto 20px;
  background-color: #FFF7C7;
  padding: 30px 50px;
  text-align: center;

}

h1{
  font-family: 'Gloria Hallelujah', cursive;
  font-size:40px;
  color:black;
}


h3,h4,p{
  font-size:20px;
}


ol li {
    cursor: pointer;
    font-size: 18px;
    padding:  10px 15px;
    border: 2px;
}

button{
  background:grey;
  border: 2px;
  color: white;
  font-size: 14px;
  padding: 6px 10px 6px 10px;
  cursor: pointer;
  border-radius: 2px;
}
